#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*    smart - calculation -Styles   */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f2f5;
  font-family: "Segoe UI", sans-serif;
}

.calculator {
  background: linear-gradient(135deg, #ffffff, #e6e6e6);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.calculator input,
.calculator select {
  padding: 10px 15px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s all;
}

.calculator input:focus,
.calculator select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

#res {
  background: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 15px;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
}
